h1 {
    padding: 30px
    background-color: purple;
    border:1px solid black
    font-size: 45px;
    color:white

    
}
h3 {
    padding: 30px
    background-color: purple;
    border:1px solid black
    font-size: 45px;
    color:white
}